<p id="notice"><%= notice %></p>


  <div class="row">
    <div class="col-md-6 col-md-offset-4">
        <h1>Welcome to Reddit <%= current_user.username %></h1>
        <p> Where <strong>LINKS</strong> gets <strong>JUDGED</strong></p>
    </div>
  </div>


    <div class="row">
      <div class="col-md-8">
        <% @links.each do |link| %>
              <%= link_to link.user.name %><span class="blue-text"><%= link_to"@#{link.user.username}" %> &#8227; <%= time_ago_in_words(link.created_at) %></span>
            </div>
          </div>
          
              <div class="row">
                <div class="col-md-12">
                  <%= link_to 'Edit', edit_link_path(link) %> | <%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </div>
    </div>

<br>

<%= link_to 'New Link', new_link_path %>
